/* desktop 1440*/
@media (max-width: 90em) {
  /* header */
  .logo-button {
    width: 4.5rem;
    height: auto;
  }
  .header .header-links {
    font-size: 1.8rem;
  }
  .header-links {
    grid-column: 7 / span 2;
    justify-self: end;
    gap: 2rem;
  }
}
/* desktop 1024*/
@media (max-width: 64em) {
  /* main */
  main {
    /* gap: 16rem; */
    /* margin-top: 12rem; */
  }
  /* header */
  .header {
    margin: 4rem 4.4rem 4rem 4.4rem;

    font-size: 1.4rem;
  }
  .header-links {
    grid-column: 4 / span 3;
  }

  /*section name title  */
  .section-name-title {
    margin: 0 4.4rem 0 4.4rem;
  }
  .section-name-title h1 {
    font-size: 15rem;
  }
  .title-description {
    margin-top: 5rem;
    grid-column: span 5;
    font-size: 1.6rem;
  }

  /* hero */
  .hero-img {
    width: 22rem;
    height: 34rem;
  }
  .hero-title {
    font-size: 7.2rem;
  }

  /* about me */
  .heading {
    font-size: 4rem;
  }

  .about-me-header {
    font-size: 2rem;
  }

  .about-me-text {
    font-size: 1.4rem;
  }

  .about-me-certificates .container p {
    font-size: 1.4rem;
  }

  .about-me-certificates h3 {
    font-size: 2rem;
  }

  /* experience */
  .company-name {
    font-size: 2.8rem;
  }

  .company-description,
  .other-details,
  .responsibilities {
    font-size: 1.4rem;
  }

  /* projects */
  .heading-title {
    font-size: 1.6rem;
  }

  .project-heading p {
    font-size: 1.4rem;
  }

  .project-description {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  .img-buttons {
    font-size: 1.4rem;
  }

  /* footer */
  .title {
    font-size: 7rem;
  }
  .contact-email a {
    font-size: 2.6rem;
    gap: 1.2rem;
  }
  .extra-details p {
    font-size: 1.4rem;
  }
  .footer-logo {
    width: 2.6rem;
    height: 2.6rem;
  }
}
/* phone */
@media (max-width: 48em) {
  /* name title */
  .section-name-title h1 {
    font-size: 9.5rem;
  }
  .title-description {
    grid-column: 1 / span 6;
  }
  .grid {
    row-gap: 4.6rem;
  }
  .title-description {
    margin-top: 6rem;
  }
}

/*
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
